li,
a {
  list-style: none;
  text-decoration: none;
}
/* шапка - header */
.container {
  width: 1605px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  padding-top: 40px;
  padding-bottom: 205px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 284.57px;
  height: 56.91px;
}
.logo-link {
  width: 284px;
  height: 56px;
}
.search {
  border: 230px;
  border-bottom: 1px solid #4a4848;
}
.adress {
  list-style: none;
  display: flex;
  align-items: center;
}

.email {
  font-family: "Work Sans";

  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;

  margin-right: 50px;
  color: #231c4b;
}
.tel {
  font-family: "Work Sans";

  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;

  color: #231c4b;
}
.icon {
  width: 60px;
  height: 60px;
  background-color: #2ea3f2;
  border-radius: 50%;
}
/* герой - hero*/
.section-hero {
  padding-bottom: 175px;
}
.hero {
  padding-left: 110px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.overlay {
  background-position-x: 97.5%;
  background-position-y: top;

  background-repeat: no-repeat;
  background-image: url(./img/Placeholder.jpg);
}
.description-header {
  width: 922px;
  margin: 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  color: #231c4b;
}
.description {
  width: 620px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #4d4d4d;
}
.description-link {
  height: 70px;

  display: inline-flex;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #2ea3f2;
}
.bg-link {
  height: 70px;
  margin-right: 5px;

  display: inline-flex;
  align-items: center;

  background-color: #e4e4e4;
}
.description-link::after {
  display: inline-block;

  width: 45.8px;
  height: 12px;
  margin-left: 15px;

  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/Arrow.svg);
}
/* статистика - statistics*/
.section-statistics {
  margin-right: auto;
  margin-left: auto;
  width: 1920px;

  background-color: #eeeeee;
}
.statistics {
  padding-top: 140px;
  padding-bottom: 140px;

  display: flex;
  justify-content: center;
}
.item {
  margin-right: 50px;
}
.item:last-child {
  width: 187px;
  margin: 0px;
}
.number {
  padding-top: 20px;
  width: 335.89px;

  margin: 0px;
  font-family: "Raleway";

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02em;

  color: #2ea3f2;
}
.statistics-item {
  margin-top: 22px;
  margin-bottom: 0px;

  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #414141;
}
.border {
  height: 171px;
  padding-left: 15px;
  border-left: 1px solid #414141;
}
/* работа - works */
.section-works {
  width: 1170px;
  padding-top: 129px;

  margin-right: auto;
  margin-left: auto;
}
.works {
  width: 1170px;
  height: 671px;

  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;

  display: flex;
}
.an {
  margin-top: 0px;
  margin-bottom: 13px;

  font-family: "Montserrat";

  font-weight: 600;
  font-size: 16px;
  line-height: 2;

  letter-spacing: 3px;
  text-transform: uppercase;

  color: #2ea3f2;
}
.works-header {
  margin-top: 0px;
  margin-bottom: 35px;

  font-family: "Raleway";

  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;

  letter-spacing: -1px;

  color: #333333;
}
.works-paragraph {
  width: 470px;
  margin-bottom: 43px;
  margin-top: 0px;

  font-family: "DM Sans";

  font-size: 20px;
  line-height: 1.6;

  color: #333333;
}
.svg-paragraph-top {
  margin-top: 0px;
  margin-bottom: 22px;
  display: inline-flex;
  align-items: flex-start;

  font-family: "DM Sans";

  font-size: 16px;
  line-height: 2;

  color: #333333;
}
.svg-paragraph-top::before {
  content: "";

  margin-right: 13px;

  width: 32px;
  height: 32px;

  background-image: url(./img/dot.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.svg-paragraph {
  margin-top: 0px;
  margin-bottom: 50px;
  width: 470px;

  display: flex;
  align-items: center;
  font-family: "DM Sans";

  font-size: 16px;
  line-height: 2;

  color: #333333;
}
.svg-paragraph::before {
  content: "";

  margin-right: 13px;

  width: 32px;
  height: 32px;

  background-image: url(./img/dot.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.works-link {
  width: 221.8px;

  padding-left: 64px;
  padding-bottom: 13px;
  padding-top: 13px;

  display: flex;
  align-items: center;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
  color: #2ea3f2;
  background: linear-gradient(to right, #e4e4e4 54%, white 46%);
}
.works-link::after {
  display: inline-block;

  width: 45.8px;
  height: 12px;
  margin-left: 15px;

  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/Arrow.svg);
}
.works-img {
  margin-right: 0px;
  display: flex;
  align-items: center;
}

/* works 2-4 page */
.reverse {
  flex-direction: row-reverse;
}
.reverse-hight {
  flex-direction: row-reverse;
  height: 634px;
}
.margin-rev {
  margin-left: 0px;
}
/* works 4 page  */
.header-width {
  width: 479px;
}
/* banner */
.section-banner {
  width: 1924px;
  height: 400px;

  margin-right: auto;
  margin-left: auto;

  background-image: url(./img/banner.jpg);
}
.banner-list {
  align-items: center;
  display: flex;
}
.banner-header {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 72px;
  line-height: 85px;

  color: #ffffff;
}
.banner-text {
  font-family: "Montserrat";

  font-weight: 500;
  font-size: 18px;
  line-height: 180%;

  color: #ffffff;
}
.banner-link {
  font-family: "Montserrat";

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: #ffffff;
}
