li,
a {
  list-style: none;
  text-decoration: none;
}
/* шапка - header */
.container {
  width: 1605px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  padding-top: 40px;
  padding-bottom: 205px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 284.57px;
  height: 56.91px;
}
.logo-link {
  width: 284px;
  height: 56px;
}
.search {
  border: 230px;
  border-bottom: 1px solid #4a4848;
}
.adress {
  list-style: none;
  display: flex;
  align-items: center;
}

.email {
  font-family: "Work Sans";

  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;

  margin-right: 50px;
  color: #231c4b;
}
.tel {
  font-family: "Work Sans";

  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;

  color: #231c4b;
}
.icon {
  width: 60px;
  height: 60px;
  background-color: #2ea3f2;
  border-radius: 50%;
}
/* герой - hero*/
.section-hero {
  padding-bottom: 175px;
}
.hero {
  padding-left: 110px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.overlay {
  background-position-x: 97.5%;
  background-position-y: top;

  background-repeat: no-repeat;
  background-image: url(./img/Placeholder.jpg);
}
.description-header {
  width: 922px;
  margin: 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  color: #231c4b;
}
.description {
  width: 620px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #4d4d4d;
}
.description-link {
  height: 70px;

  display: inline-flex;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #2ea3f2;
}
.bg-link {
  height: 70px;
  margin-right: 5px;

  display: inline-flex;
  align-items: center;

  background-color: #e4e4e4;
}
.description-link::after {
  display: inline-block;

  width: 45.8px;
  height: 12px;
  margin-left: 15px;

  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/Arrow.svg);
}
/* статистика - statistics*/
.section-statistics {
  margin-right: auto;
  margin-left: auto;
  width: 1920px;

  background-color: #eeeeee;
}
.statistics {
  padding-top: 140px;
  padding-bottom: 140px;

  display: flex;
  justify-content: center;
}
.item {
  margin-right: 50px;
}
.item:last-child {
  width: 187px;
  margin: 0px;
}
.number {
  padding-top: 20px;
  width: 335.89px;

  margin: 0px;
  font-family: "Raleway";

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02em;

  color: #2ea3f2;
}
.statistics-item {
  margin-top: 22px;
  margin-bottom: 0px;

  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #414141;
}
.border {
  height: 171px;
  padding-left: 15px;
  border-left: 1px solid #414141;
}
/* работа - works */
.section-works {
  width: 1170px;
  padding-top: 129px;

  margin-right: auto;
  margin-left: auto;
}
.works {
  width: 1170px;
  height: 671px;

  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;

  display: flex;
}
.an {
  margin-top: 0px;
  margin-bottom: 13px;

  font-family: "Montserrat";

  font-weight: 600;
  font-size: 16px;
  line-height: 2;

  letter-spacing: 3px;
  text-transform: uppercase;

  color: #2ea3f2;
}
.works-header {
  margin-top: 0px;
  margin-bottom: 35px;

  font-family: "Raleway";

  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;

  letter-spacing: -1px;

  color: #333333;
}
.works-paragraph {
  width: 470px;
  margin-bottom: 43px;
  margin-top: 0px;

  font-family: "DM Sans";

  font-size: 20px;
  line-height: 1.6;

  color: #333333;
}
.svg-paragraph-top {
  margin-top: 0px;
  margin-bottom: 22px;
  display: inline-flex;
  align-items: flex-start;

  font-family: "DM Sans";

  font-size: 16px;
  line-height: 2;

  color: #333333;
}
.svg-paragraph-top::before {
  content: "";

  margin-right: 13px;

  width: 32px;
  height: 32px;

  background-image: url(./img/dot.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.svg-paragraph {
  margin-top: 0px;
  margin-bottom: 50px;
  width: 470px;

  display: flex;
  align-items: center;
  font-family: "DM Sans";

  font-size: 16px;
  line-height: 2;

  color: #333333;
}
.svg-paragraph::before {
  content: "";

  margin-right: 13px;

  width: 32px;
  height: 32px;

  background-image: url(./img/dot.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.works-link {
  width: 221.8px;

  padding-left: 64px;
  padding-bottom: 13px;
  padding-top: 13px;

  display: flex;
  align-items: center;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
  color: #2ea3f2;
  background: linear-gradient(to right, #e4e4e4 54%, white 46%);
}
.works-link::after {
  display: inline-block;

  width: 45.8px;
  height: 12px;
  margin-left: 15px;

  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/Arrow.svg);
}
.works-img {
  margin-right: 0px;
  display: flex;
  align-items: center;
}

/* works 2-4 page */
.reverse {
  flex-direction: row-reverse;
}
.reverse-hight {
  flex-direction: row-reverse;
  height: 634px;
}
.margin-rev {
  margin-left: 0px;
}
/* works 4 page  */
.header-width {
  width: 479px;
}
/* banner */
.section-banner {
  width: 1924px;

  padding-top: 150px;

  margin-right: auto;
  margin-left: auto;
}
.banner {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;

  background-image: url(./img/banner.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-list {
  margin-bottom: 0px;
  padding-top: 158px;
  padding-bottom: 158px;
  margin-top: 0px;

  align-items: center;
  display: flex;
}
.banner-header {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 220px;

  font-family: "Raleway";

  font-weight: 700;
  font-size: 72px;
  line-height: 85px;

  color: #ffffff;
}
.banner-text {
  width: 638.03px;

  margin-left: 100px;
  margin-bottom: 0px;
  margin-top: 0px;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;

  color: #ffffff;
}
.banner-link {
  margin-left: 100px;

  padding-left: 54px;
  padding-top: 13px;
  padding-bottom: 13px;

  display: flex;
  align-items: center;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;
  background: linear-gradient(to right, #2ea3f2 59%, #ffffff00 41%);
  color: #ffffff;
}
.banner-link::after {
  display: inline-block;

  width: 45.8px;
  height: 12px;
  margin-left: 10px;

  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/Arrow.svg);
}
/* team - команда */
.section-team {
  width: 1920px;
  padding-top: 190px;

  margin-left: auto;
  margin-right: auto;
}
.positioning {
  width: 1575px;
  height: 309px;
  display: flex;

  margin-left: auto;
  margin-right: auto;
}
.team-content {
  margin-right: 86px;
}
.team-content:nth-child(2) {
  margin-right: 0%;
}
.team-border {
  padding-left: 15px;
  border-left: 1px solid #414141;
}
.team-header {
  width: 885.94px;

  margin-top: 0px;
  margin-bottom: 60px;

  font-family: "Raleway";
  font-weight: 600;
  font-size: 40px;
  line-height: 142.6%;
  letter-spacing: 0.02em;

  color: #2ea3f2;
}
.team-paragraph {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: "Montserrat";

  font-weight: 400;
  font-size: 18px;
  line-height: 180%;

  color: #4d4d4d;
}

.team-link {
  width: 217px;
  padding-left: 54px;
  padding-top: 13px;
  padding-bottom: 13px;

  display: block;
  font-family: "Montserrat";

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;

  background: linear-gradient(to right, #e4e4e4 54%, white 46%);
}
.team-link::after {
  display: inline-block;

  width: 45.8px;
  height: 12px;
  margin-left: 10px;

  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/Arrow.svg);
}
.team {
  padding-top: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;

  display: flex;
}
.team-img {
  margin-right: 50px;
}
.team-img:nth-child(5) {
  margin-right: 0px;
}
/* button */
.stylization {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 55px;

  display: flex;
  justify-content: center;
}
.button-stylization {
  width: 30px;
  height: 30px;

  margin-right: 25px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  display: flex;

  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 50%;
}
.button-stylization:nth-child(3) {
  margin-right: 0px;
}
.btn {
  width: 8px;
  height: 8px;

  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 50%;

  border: 1px;
  background-color: #414141;
}
.button-stylization:hover,
.button-stylization:focus {
  cursor: pointer;
  border: 1px solid;
}
.button-stylization:hover .btn,
.button-stylization:focus .btn {
  background: #2ea3f2;
}
/* partners */
.partners {
  width: 1506px;
  margin-right: auto;
  margin-left: auto;

  padding-top: 100px;
  padding-bottom: 150px;
}
.partners-list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-item {
  margin-right: 120px;
}
.partners-item:nth-child(5) {
  margin-right: 0px;
}

.partners-text1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Gemunu Libre";

  font-weight: 400;
  font-size: 36px;
  line-height: 39px;
  letter-spacing: 0.02em;

  cursor: pointer;
  color: #4d4d4d;
  opacity: 0.5;
}
.partners-text1:hover,
.partners-text1:focus {
  color: #2ea3f2;
  opacity: 1;
}
.partners-text2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Finger Paint";

  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.02em;

  cursor: pointer;
  color: #4d4d4d;
  opacity: 0.5;
}
.partners-text2:hover,
.partners-text2:focus {
  color: #2ea3f2;
  opacity: 1;
}
.partners-text3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.02em;

  cursor: pointer;
  color: #4d4d4d;
  opacity: 0.5;
}
.partners-text3:hover,
.partners-text3:focus {
  color: #2ea3f2;
  opacity: 1;
}
.partners-text4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Caveat Brush";

  cursor: pointer;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.02em;

  color: #4d4d4d;
  opacity: 0.5;
}
.partners-text4:hover,
.partners-text4:focus {
  color: #2ea3f2;
  opacity: 1;
}
.partners-text5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Graduate";

  cursor: pointer;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.02em;

  color: #4d4d4d;
  opacity: 0.5;
}
.partners-text5:hover,
.partners-text5:focus {
  color: #2ea3f2;
  opacity: 1;
}
/* footer */
.section-footer {
  width: 1920px;

  margin-left: auto;
  margin-right: auto;

  background-color: #eeeeee;
}
.flex {
  padding-top: 164px;
  padding-bottom: 100px;

  display: flex;
}

/* column 1 */
.footer-column {
  margin-left: 264px;
  margin-right: 100px;
}
.column-list {
  width: 284.57px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

.column-text {
  width: 264px;
  margin-top: 8px;
  margin-bottom: 35px;

  font-family: "Montserrat";
  font-size: 18px;
  line-height: 180%;

  color: #414141;
}
.column-text > .text-span {
  font-weight: 600;
  padding-bottom: 37px;

  display: block;
}
/* footer - icon */

.icon-list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  display: flex;
}
.icon-item {
  width: 48px;
  margin-right: 8px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border-radius: 50%;
  background-color: #ffffff;
}
.icon-item:nth-child(4) {
  margin-right: 0px;
}

.svg-fb {
  width: 24px;
  height: 24px;

  background-image: url(./img/icon/fb.svg);
  background-repeat: no-repeat;
}
.svg-twitter {
  width: 24px;
  height: 24px;

  background-image: url(./img/icon/twitter.svg);
  background-repeat: no-repeat;
}
.svg-instagram {
  width: 24px;
  height: 24px;

  background-image: url(./img/icon/instagram.svg);
  background-repeat: no-repeat;
}
.svg-youtube {
  width: 24px;
  height: 24px;

  background-image: url(./img/icon/youtube.svg);
  background-repeat: no-repeat;
}
/* column 2 */
.footer-column2 {
  width: 313px;
  margin-right: 100px;
}
.column {
  margin-bottom: 0px;
  margin-top: 27px;

  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  color: #2ea3f2;
}
.column2-text {
  width: 307px;
  margin-top: 8px;
  margin-bottom: 0px;

  font-family: "Montserrat";

  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.02em;

  color: #414141;
}
/* column 3 */
.footer-column3 {
  width: 183px;

  margin-right: 100px;
}
.column3-text {
  margin-bottom: 0px;
  margin-top: 8px;

  font-family: "Montserrat";
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.02em;

  color: #414141;
}
/* column 4 */
.footer-column4 {
  width: 311px;
  margin-right: 264px;
}
.footer-column4 > .column {
  margin-bottom: 22px;
}
.input-block {
  display: flex;
  align-items: center;
}
.column-search {
  width: 251px;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  border-right-width: 0px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-family: "Montserrat";
  font-size: 22px;
  line-height: 22px;
  color: #414141;

  border: 1px solid #414141;
  border-radius: 10px 0px 0px 10px;
  background-color: #eeeeee;
}
.column-button {
  width: 60px;
  height: 56px;

  cursor: pointer;

  background: #2ea3f2;
  border: 1px solid transparent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
}
.column-button::after {
  content: "";
  margin-right: auto;
  margin-left: auto;

  display: flex;

  width: 24px;
  height: 24px;

  background-image: url(./img/telegram.svg);

  background-repeat: no-repeat;
  background-size: contain;
}
/* copyright */
.footer-border {
  max-width: 1596px;
  margin-right: auto;
  margin-left: auto;

  border-top: 1px solid #414141;
}
.copyright-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 75px;

  font-family: "Work Sans";
  font-size: 14px;
  line-height: 16px;
  color: #231c4b;

  text-align: center;
}
.footer-span {
  color: #2ea3f2;
}
